@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icon-img.eot?shlj7o');
  src:  url('../fonts/icon-img.eot?shlj7o#iefix') format('embedded-opentype'),
    url('../fonts/icon-img.ttf?shlj7o') format('truetype'),
    url('../fonts/icon-img.woff?shlj7o') format('woff'),
    url('../fonts/icon-img.svg?shlj7o#icon-img') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icon-exposure:before {
  content: "\e3af0";
}
.icon-iso:before {
  content: "\ef150";
}
.icon-camera:before {
  content: "\e90f3";
}
.icon-ajustes:before {
  content: "\e463a";
}
.container {
    padding: 10px 0 0;
}
.blogArticle {
	background: #fff;
	padding-bottom: 15px;
	margin-bottom: 25px;
}
* {
	box-sizing: border-box
}

[class*=col-] {
	float: left;
    padding: 0;
	display: flex;
	flex-direction: column;
}
.col-text {
	width: 35%;
}
.col-img {
	width: 65%;
}
.featured-img {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
}
.infoimg h2 {
	margin: 0;
	padding: 20px;
	text-align: center;
	font-weight: 300;
	font-size: 2.2em;
	line-height: 1.3;
}
.meta {
	display: inline-block;
	position: relative;
	background: #f5f5f5;
	padding: 12px;
	width: 100%;
	text-align: center;
}
.meta:after {
	content: '';
	display: block;
	position: absolute;
	left: calc(50% - 10px);
	top: 110%;
	margin-top: -10px;
	width: 0;
	height: 0;
	border-bottom: 10px solid transparent;
	border-top: 10px solid #f5f5f5;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent
}
.meta ul {
	padding: 0;
	list-style: none;
	display: inline
}
.meta li {
	display: inline-block;
	margin-right: 35px
}
.meta li:last-child {
	margin-right: initial
}
.meta p {
	margin: 0;
}
.meta .comments a {
	color: #626262;
	font-weight: initial
}
.description {
	padding: 0 15px;
}
.description ul {
	padding: 0;
	list-style: none;
}
.icons-info {
	padding-right: 5px;
	font-size: 20px;
}
.icon-camera,
.icon-ajustes {
	font-size: 18px;
}

hr.styled {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.content {
	padding: 0;
	margin-bottom: 20px;
	display: flex;
}
.content .featured-img {
	/*height: auto;
	width: 100%;
	max-width: 715px;*/
	overflow: hidden;
	position: relative;
}
.content .featured-img img {
	width: 100%;
	height: auto;
}
.disqus {
	padding: 0 20px;
}


.morePost ul{display:block;
	margin-bottom:30px;
	padding:0;
	list-style:none;

}
.morePost li{display:inline-block;
	background-color:#fff;
	border:none;
	cursor:pointer;
	height:80px;
}
.morePost li.next{float:right;

}
.next a,.prev a{display:table;
	border:0;
	padding:0;
	line-height:0;
	height:100%;
	width:310px;
}
.prev span{font-size:40px;
	padding:20px 10px;
	float:left;
}
.next span{font-size:40px;
	padding:20px 10px;
	float:right;
}
.prev article{display:table-cell;
	vertical-align:middle;
}
.next article{display:table-cell;
	vertical-align:middle;
	text-align:right;
}
.prev img{float:left;
	height:60px;
	width:60px;
	margin-right:8px;
	padding:2px;
	line-height:1.42857143;
	background-color:#fff;
	border:1px solid #ddd;
}
.next img{float:right;
	height:60px;
	width:60px;
	margin-left:8px;
	padding:2px;
	line-height:1.42857143;
	background-color:#fff;
	border:1px solid #ddd;
}
.next .date,.prev .date{color:#a4abb2;
	display:block;
	font-size:10px;
	letter-spacing:1px;
	line-height:16px;
	margin-bottom:1px;
	margin-top:1px;
	text-transform:uppercase;
}
.next .heading,.prev .heading{color:#2e2f34;
	font-size:12px;
	font-weight:400;
	line-height:17px;
	margin-bottom:0;
}

@media (max-width:680px) {
    .col-text,
    .col-img {
        width: 100%;
    }
    .content {
        display: flow-root;
    }
    .content .featured-img {
        -webkit-order: -1;
        -ms-flex-order: -1;
        order: -1;
    }
}