.post, .post-navigation{background:#fff;padding:0;margin-bottom:20px;}
.post .featured-img{height:320px;width:100%;overflow:hidden;position:relative}
.overlay{height:100%;padding:calc(160px - 2em) 50px 0;background-color:rgba(0,0,0,.6)}
.title{font-size:2.5em;line-height:1.3;font-weight:400}
.post .featured-img h2{margin:0;text-align:center;color:#fff;margin-bottom:25px}
.post-content{padding:5px 15px 20px}
ul.share-btn{list-style:none;font-size:16px;text-align:center;padding:20px 0 0}
ul.share-btn li{display:inline-flex;margin:0 5px;font-size:16px}
.share-btn li a.btn{margin:0 auto 42px;width:35px;height:35px;text-align:center;box-shadow:none;color:#fff;text-decoration:none}
.share-btn li a.btn:hover{background:0 0}
.share-btn li#facebook a{background:#4267b2}
.share-btn li#twitter a{background:#1da1f2}
.share-btn li#google-plus a{background:#d34836}
.share-btn li#facebook a.btn:hover,.share-btn li#google-plus a.btn:hover,.share-btn li#twitter a.btn:hover{background:0 0}
.post-content img{display:block;margin-left:auto;margin-right:auto}
img.align-left{float:left;margin:10px 10px 10px 0}
img.align-right{float:right;margin:10px 0 10px 10px}
.post-content h4{margin:12px 0}
#disqus_thread{padding:0 20px 10px}
.post-navigation{display:flex}
.post-navigation p{margin:0 10px 15px;font-size:18px;line-height:1}
.post-navigation .next,.post-navigation .prev{padding:15px 0;width:50%}
.post-navigation a p{font-size:15px;font-weight:400;color:#333;width:300px;text-align:center}
.post-navigation .next a p{float:right}
.post-navigation .next{text-align:right}
.post-navigation img{width:300px;height:auto}
.post-navigation hr{display:none;border-color:#eaeaea}
@media (max-width:680px){.post-content img{display:block;margin-left:auto;margin-right:auto;width:100%}}
@media (max-width:320px){.post-navigation{display:inherit}
.post-navigation .next,.post-navigation .prev{width:auto}
.post-navigation img{width:100%}
.post-navigation a p{width:auto}
.post-navigation .next{text-align:initial}
.post-navigation .next a p{float:none}
.post-navigation hr{display:block;width:90%}}